<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title th:text="#{titulo}"></title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Navegador de documentos iterativos swagger">
		<meta name="author" content="Darlan & Rodrigo Soares">
		<link href="/vendors/bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/vendors/fontawesome-free-5.12.0/css/all.min.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/style.css" rel="stylesheet">
	</head>
	
	<body class="swagger-section">
		<div class="container">
			<div class="my-4">	
				<h1><b><span th:text="#{titulo}"></span></b></h1>
			</div>		
			<div class="card my-4">
				<div class="card-header">
					<b>Swagger</b>
				</div>
				<div class="card-body">
					<table class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<th>API</th>
								<th>Descrição</th>
								<th>JSON</th>
								<th class="text-center" colspan="2">Swagger</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Petstore</td>
								<td>API de Exemplo</td>
								<td><a href="https://petstore.swagger.io/v2/swagger.json">https://petstore.swagger.io/v2/swagger.json</a></td>
								<td width="120px"><a class="btn btn-swagger btn-block btn-sm" href="/swagger-ui/V2.2.8/index.html?json=https://petstore.swagger.io/v2/swagger.json"><i class="fas fa-book-open mr-2"></i>2.2.8</a></td>
								<td width="120px"><a class="btn btn-swagger btn-block btn-sm" href="/swagger-ui/V3.0.3/index.html?json=https://petstore.swagger.io/v2/swagger.json"><i class="fas fa-book-open mr-2"></i>3.0.3</a></td>							
							</tr>
							<tr>
								<td>Clientes</td>
								<td>API de Clientes</td>
								<td><a href="http://www.teste.json">http://www.teste.json</a></td>
								<td><a class="btn btn-swagger btn-block btn-sm" href="/swagger-ui/V2.2.8/index.html?json=http://www.teste.json"><i class="fas fa-book-open mr-2"></i>2.2.8</a></td>
								<td><a class="btn btn-swagger btn-block btn-sm" href="/swagger-ui/V3.0.3/index.html?json=http://www.teste.json"><i class="fas fa-book-open mr-2"></i>3.0.3</a></td>							
							</tr>
							<tr>
								<td>Clientes</td>
								<td>API de Clientes</td>
								<td><a href="http://www.teste.json">http://www.teste.json</a></td>
								<td><a class="btn btn-swagger btn-block btn-sm" href="/swagger-ui/V2.2.8/index.html?json=http://www.teste.json"><i class="fas fa-book-open mr-2"></i>2.2.8</a></td>
								<td><a class="btn btn-swagger btn-block btn-sm" href="/swagger-ui/V3.0.3/index.html?json=http://www.teste.json"><i class="fas fa-book-open mr-2"></i>3.0.3</a></td>							
							</tr>					
						</tbody>
					</table>				
				</div>
			</div>		
		</div>
		<script src="/vendors/jquery-3.4.1/jquery.min.js"></script>
		<script src="/vendors/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/popper.js"></script>
	</body>
</html>
